[project]
	description = A public repository of the iOS game zombieWar
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/andrewma83
[access "refs/for/refs/*"]
	read = group user/andrewma83
	push = group user/andrewma83
	label-Code-Review = -2..+2 group user/andrewma83
	label-Verified = -1..+1 group user/andrewma83
	rebase = group user/andrewma83
	removeReviewer = group user/andrewma83
	submit = group user/andrewma83
[access "refs/heads/*"]
	read = group user/andrewma83
	create = group user/andrewma83
	push = +force group user/andrewma83
	pushMerge = group user/andrewma83
[access "refs/tags/*"]
	push = group user/andrewma83
	push = +force group user/andrewma83
